/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
    width: 2rem;
    height: 2rem;
    
  }
  
  .svg-icon path,
  .svg-icon polygon,
  .svg-icon rect{
    fill: rgb(244, 176, 64);
  }
  
  .svg-icon circle {
    stroke: yellow;
    stroke-width: 1;
  }