.popnumber{
    height: 2rem;
    width: 2rem;
    background-color: #D61820;
    border-radius: 50%;
    color: #fff;
    font-weight: 800;

    position: absolute;
    top: 2%;
    right: 5%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.minus{
    height: 2rem;
    width: 2rem;
    background-color: #D61820;
    border-radius: 50%;
    color: #fff;

    font-size: 16px;

    position: absolute;
    top: 2%;
    left: 5%;

    cursor: pointer;
    
    display: flex;
    justify-content: center;
    align-items: center;
}