.container-yellow{
    height: inherit;
    width: 32vw;
}
.container-red{
    height: inherit;
    width: 32vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-blue{
    background-color: #f2f2f2;
    height: inherit;
    width: 32vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    // background: url('../../Img/coffee-beans-coffee-svgrepo-com.svg') repeat-y 0 20%;
    background-image: linear-gradient(to right,#f2f2f2, #FDEDEC);
    background-size: 230px 80px;
    background-repeat: repeat-y;
    background-position: right;
}