.modal{
   width: 50rem;
   height: 60rem;
   background-color: white;

   position: absolute;
   top: 55%;
   left: 50%;
   transform: translate(-50%,-50%);

   z-index: 9000;
   
   opacity: 0.8;
}
