.header{
    height: 10vh;
    background-color: #fff;
    .navigation{
        height: inherit;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2rem;
        box-sizing: border-box;
        ul{
            list-style: none;
            display: flex;
            li > a{
                text-decoration: none;
                color: #4B4B4B;
                margin-left: 2rem;
                font-size: 14px;
                cursor: pointer;

                &:active{
                    color: red;
                }
            }
        }
        &__logo{
            &-1{
                height: 6rem;                
            }
        }
        &__ops{
            width: 20rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            &-pop{
                position: relative;
                cursor: pointer;
            }
            .cart{
                height: 4rem;
                width: 4rem;
                margin-right: 2rem;
                position: relative;
            }
        }
    }
}